<!DOCTYPE html>
  <html>
    <head>
      <title>Articler</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <header>
      <p><%= @keyword1, keyword2, keyword3 AND @Year1~Year2></p>
        <p>Mypage</p>
      </div>
    </header>

    <body>
     <div class="contents row" >
    <% @articles.each do |article| %>

        <%= simple_format(article.titile) %>
        <span class=""><%= article. %></span>
      </div>
    <% end %>
      </div>
    </body>
  </html>